.mcontainer {
overflow: hidden;
}

.filterDiv {
float: left;
color: #ffffff;
width: 300px;
line-height: 100px;
text-align: center;
margin: 2px;
margin-left: 20px;
display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
display: block;
}

/* Style the buttons */
.btn {
border: none;
outline: none;
padding: 12px 16px;
background-color: #f1f1f1;
cursor: pointer;
margin-top: 150px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.filteractive {
background-color: #666;
color: white;
margin-top: 150px;
}
