body {
  background-color: white;
  margin: 0px;
}

h1 {
  color: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  background-color: white;
  width: 100%;
}

.logo {
  float: left;
  padding: 20px 40px 0px 40px
}

nav {
  position: absolute;
  position:fixed;
  background-color: WHITE;
  height: 75px;
  top: 0;
  left: 0;
  right:0;
  box-shadow: 2px 4px 7px #3E3E3E;
}



nav li {
  float: left;
  padding-top:30px;
  padding-left: 50px;
}

nav li a {
  display: block;
  color: black;
  font-family: sans-serif;
  font-style: normal;
  font text-align: left;
  padding: 0px 5px 5px 5px;
  text-decoration: none;
}

.active{
  color: #2AC29E;
  font-weight: bold;

}


nav a {
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #2AC29E
}

nav a:after {
  color: #2AC29E;
  font-weight: bold;
}

.myvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
.content {
  position: fixed;
  padding-bottom: 0px;
  padding-top: 500px;
  padding-left: 750px;
}
/* Change the link color to #111 (black) on hover */


/* Create three equal columns that floats next to each other */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
  margin-top:20px;
}

.para1{
  padding-left: 30px;
  padding-right: 60px;
  font-family:sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: lighter;
}

.para2{

  padding-right: 95px;
  font-family:sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: lighter;
}

.para1 h2 span{
  background:#2AC29E;
  padding-left: 3px;
  padding-right: 3px;
  color:white;
}


.para2 h2 span{
  background:#2AC29E;
  padding-left: 3px;
  padding-right: 3px;
  color:white;
  font-size: 24px;
  font-weight: bold;
}

.para2 ul{
  padding-bottom: 15px;

}

.awards li{
  font-size: 18px;
font-weight: bold;
font-family: sans-serif;
}



.container{
  padding-top: 130px;
  padding-left: 40px;
}

.container div {
  display: table-cell;
}


.overlay-container {
  position: relative;
  width: 141px;
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
}

.overlay-container .image {
  display: block;
}

.overlay-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.overlay-container:hover .overlay {
  opacity: 0.3;
}

.overlay-container .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
