body {
  background-color: white;
}

h1 {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 250px 0px;
  overflow: hidden;
  box-shadow: 2px 7px 7px #D4D4D4;
  background-color: white;
  width: 100%;
}

.logo {
  float: left;
  padding: 15px 0px 0px 50px
}

nav {
  position: absolute;
  background-color: WHITE;
  top: 0;
  left: 0;
  right:0;
}

li {
  float: left;
  margin:left: 200px
}

li a {
  display: block;
  color: black;
  font-family: sans-serif;
  font-style: normal;
  font text-align: left;
  padding: 0px 20px 20px 10px;
  text-decoration: none;
}

nav a {
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #2AC29E
}

nav a::after {
  color: #2AC29E;
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
